.MainLayout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .LeftColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  



.CreateTransactionBox {
    max-width: 250px;
} 

.Box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.earning {
    color: green;
}
  
.expense {
    color: red;
}

.ViewTransactions {
    max-width: 550px;
}

.ViewCategories {
    max-width: 250px;
}

.Filters label {
    
    margin-right: 30px;
}

.AddAmount,
.SelectType,
.SelectDate,
.SelectCategory,
.AddDescription,
.SaveTransactionButton {
  margin-bottom: 10px;
}