.MainLayout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .LeftColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  



.CreateTransactionBox {
    max-width: 270px;
} 

.Box {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.earning {
    color: green;
}
  
.expense {
    color: red;
}

.ViewTransactions {
    max-width: 550px;
}

.ViewCategories {
    max-width: 270px;
}

.Filters label {
    
    margin-right: 30px;
}

.AddAmount,
.SelectType,
.SelectDate,
.SelectCategory,
.AddDescription,
.SaveTransactionButton,
.CategoryName, 
.CategoryTypeRadios {
  margin-bottom: 10px;
}

.SummaryStatistics table {
    width: 100%;
    border-collapse: collapse;
}
  
.SummaryStatistics th, .SummaryStatistics td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: right;
}
  
.SummaryStatistics th:first-child, .SummaryStatistics td:first-child {
    text-align: left;
}

body {
    font-family: sans-serif;
    padding: 2%;
    background-color: rgb(13, 13, 76);
    color: white;
    
}


